<div class="container">
  <div class="banner">
    <h1 class="banner-text">Overwatch Hero Gen</h1>
  </div>
  <div class="introduction">
    <p>
      Hello, this is just a simple webapp that will generate a random hero with
      a random ability selected to be disabled. To start, simply select your
      roles, whether to exclude the ultimate and hit generate. Enjoy the
      challenge!
    </p>
  </div>
  <div class="content">
    <div class="generator">
      <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="role" class="role-label">Role</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="tank"
              formControlName="tank"
            />
            <label class="form-check-label" for="tank"> Tank </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="damage"
              formControlName="damage"
            />
            <label class="form-check-label" for="damage"> Damage </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="support"
              formControlName="support"
            />
            <label class="form-check-label" for="support"> Support </label>
          </div>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="ultimate"
            formControlName="ultimate"
          />
          <label class="form-check-label" for="ultimate">
            Exclude Ultimate
          </label>
        </div>
        <button class="btn btn-primary" [disabled]="!isRoleSelected">
          Generate
        </button>
      </form>
    </div>

    <div class="hero">
      <div *ngIf="selectedHero">
        <img
          [src]="'assets/' + selectedHero.id + '.jpg'"
          height="100"
          width="100"
          alt="{{ selectedHero.name }}"
        />
        <h2>Generated Hero: {{ selectedHero.name }}</h2>
        <p>Role: {{ selectedHero.role }}</p>
        <p>Ultimate: {{ selectedHero.ultimate }}</p>
        <p>Ability One: {{ selectedHero.abilityOne }}</p>
        <p>Ability Two: {{ selectedHero.abilityTwo }}</p>
        <p>Secondary Fire: {{ selectedHero.secondaryFire }}</p>
      </div>
    </div>
  </div>
</div>
